# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# specific user
*.pro.user

# editors
*.autosave

# bin
client/client
server/server

# Makefile
Makefile
